<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.namankhurpia.paper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"

        android:usesCleartextTraffic="true"

        android:icon="@mipmap/paper_android_logo"
        android:label="Paper VIT"
        android:roundIcon="@mipmap/paper_android_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".view.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.view.onboarding"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.view.home_screen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.view.catone"
            android:configChanges="orientation"
            android:usesCleartextTraffic="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.view.about_us"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.view.cattwo"
            android:usesCleartextTraffic="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.view.fat"
            android:usesCleartextTraffic="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.view.Web_view"
            />


    </application>

</manifest>